*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}


.header{
    color:rgb(243, 243, 247);
    background-color: rgb(35, 102, 245);
    border:darkblue 1px solid;
    position:fixed;
    width:100%;
    height:50px;
    z-index: 1;
    text-transform:uppercase;
}

.header ul{
    position: relative;
    top:15px;
    left: 350px;
}

.header ul li{
    display:inline-block;
    width: 200px;
}

a:hover {
    color: yellow;
  }

a{
    text-decoration:none;
    color:white;
}

/*.wrapper{
    width:100%;
    margin:0 auto;
}
.journey-links{
    width:100%;
    height: 250px;
}

.journey-links div{
    position:absolute;
    display:inline-block;
    width:19%;
    height:200px;
    margin:0 3px; 
}*/

.journey-links{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width:100%;
    position:relative;
    top:50px;

}

  .block{
        align-items: center;
        position:relative;
        width:350px;
        margin:15px auto; 
  }

  .journey-links div h3{
      position:absolute;
      top:10%;
      left: 10%;
      font-size: 40px;
      font-weight: bold;
      color:rgb(4, 0, 255);  
    
  }

  .block a:hover{
      opacity:0.5;
  }

  .journey-links .block a img{
      border: solid 2px blue;

  }

